<div id="center">
<div id="logo">
	Gauntlet
</div>
<div id="sword"></div>
<div id="button">
	<%= link_to "Enter", challenges_path %>
</div>

<div id="sword1"></div>
<div id="hilt1"></div>
<div id="handle1"></div>

<div id="sword2"></div>
<div id="hilt2"></div>
<div id="handle2"></div>

</div>