// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

}

#logo{
	font-size:80px;
	font-weight:bold;
	text-decoration:underline;
}
#center{
	text-align:center;
	margin-top:10%;
}

#button{
	position:absolute;
	left:47%;
	margin-top:250px;
	border:3px solid black;
	padding:10px;
	font-size:30px;
	width:80px;
	background:white;
	z-index:5;
	border-radius:20px;
}

#button a{
	color:black;
	text-decoration:none;
}

#sword1{
	position:absolute;
	left:705px;
	top:380px;
	width:200px;
	height:20px;
	z-index:1;
	background: #aaa;
	-ms-transform: rotate(140deg); /* IE 9 */
	-webkit-transform: rotate(140deg); /* Chrome, Safari, Opera */
	transform: rotate(140deg);
	border-top-right-radius:100%;
	border-bottom-right-radius:100%;
}

#sword2{
	position:absolute;
	left:705px;
	top:380px;
	width:200px;
	height:20px;
	z-index:1;
	background: #ccc;
	-ms-transform: rotate(40deg); /* IE 9 */
	-webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
	transform: rotate(40deg);
	border-top-right-radius:100%;
	border-bottom-right-radius:100%;
	box-shadow:1px 1px 1px black;
}

#hilt1{
	position:absolute;
	width:50px;
	height:8px;
	left:700px;
	top:320px;
	z-index:2;
	background:#444;
	-ms-transform: rotate(130deg); /* IE 9 */
	-webkit-transform: rotate(130deg); /* Chrome, Safari, Opera */
	transform: rotate(130deg);
}

#hilt2{
	position:absolute;
	width:50px;
	height:8px;
	left:860px;
	top:320px;
	z-index:2;
	background:#222;
	-ms-transform: rotate(50deg); /* IE 9 */
	-webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
	transform: rotate(50deg);
}

#handle1{
	position:absolute;
	height:10px;
	width:40px;
	background:#444;
	-ms-transform: rotate(40deg); /* IE 9 */
	-webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
	transform: rotate(40deg);
	top:305px;
	left:690px;
}

#handle2{
	position:absolute;
	height:10px;
	width:40px;
	background:#222;
	-ms-transform: rotate(140deg); /* IE 9 */
	-webkit-transform: rotate(140deg); /* Chrome, Safari, Opera */
	transform: rotate(140deg);
	top:305px;
	left:880px;
}
